{% extends 'base.html' %}
{% load static %}
{% block title %}{{ room.name }}{% endblock %}
{% block extra_css %}{% endblock %}
{% block content %}
    <script src="{% static 'rooms/js/room.js' %}"></script>
    <h1>Комната {{ room.name }}</h1>

    <div class="tracks-container">
        {% for track in tracks %}
            <div class="track-container" data-track-id="{{ track.id }}">
                {% if track.track.get_cover_image %}
                    <img src="{{ track.track.get_cover_image }}" width="200" height="200" style="object-fit: cover; padding-left: 24px; padding-top: 12px;">
                {% endif %}
                <h2 class="track-name">{{ track.track.artist }} - {{ track.track.title }}</h2>
                {% if track.track.audio_file %}
                    <audio class="track-audio" controls src="{{ track.track.audio_file.url }}"></audio>
                {% endif %}
                <div class="track-votes">Количество голосов: <span id="votes-{{ track.id }}">{{ track.vote_count }}</span></div>
                {% if user.is_authenticated %}
                    <button class="track-vote-button" data-track-id="{{ track.id }}">Голосовать за трек</button>
                {% endif %}
                <div class="info-user-track">Добавил: {{ track.added_by.username }}</div>
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <h3 style="text-align: center">Добавить трек</h3>
        <form method="post" action="{% url 'add_track' room.slug %}" enctype="multipart/form-data" class="form-track-container">
            {% csrf_token %}
            <div>
                <label>Введите название трека</label>
                {{ form.title }}
                <label>Введите название исполнителя</label>
                {{ form.artist }}
                <label>Введите ссылку на изображение с обложкой трека</label>
                {{ form.cover_url }}
                <label>Выберите файл с аудио</label>
                {{ form.audio_file }}
                <label>Выберите файл с изображением обложки трека</label>
                {{ form.cover_image }}
                {% if form.errors %}
                    <div class="errors">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <button class="btn-add-track" type="submit">Добавить трек</button>
        </form>
    {% endif %}
{% endblock %}